/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(abxymod.png) center no-repeat;
    height: 534px;
    width: 1122px;
}
/*END Fight Stick Controller Styling*/
